#toast-contnainer{
    top: 30px !important;
    right: 20px !important;
    border-radius: 25%;
    left: auto !important;
}

.item{
    width: 30%;
  }
  
  .home-card{
    max-width: 500px;
    height: max-content;
    margin:26px auto;
  }
  
  #toast-container{
    top:40px !important;
    right:40px !important;
    left: auto !important;
  }
  
  .material-icons:hover{
    cursor: pointer;
  }
  .rr{
    float:0;
  }
  
  *{
    box-sizing: border-box;
  }
  
  .yell{
    color: white;
  
  }
  body {
      background-color: #fff;
      font-family: "Roboto", sans-serif;
      height: 95vh;
      min-height: 100%;
      margin: 0;
      -ms-overflow-style: none;  
      scrollbar-width: none;  
  }
  body::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
  }
    
  .container {
    padding: 1rem;
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
  }
  
  header {
    background-image: url("https://assets1.ignimgs.com/2017/01/05/top100animated-desktop-notext-1483653912600.jpg");
    background-size: cover;
    background-position: center center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 80vh;
  }
  
  .content {
    font-size: 2rem;
    margin: auto;
    max-width: 100%;
  }
  .h1c{
    font-size: 5rem;
  }
  
  .mov{
    font-size: 2rem;
    position: absolute;
    right: 50%;
    margin: auto;
    max-width: 100%;
  }
  .mov a{
    height: 50px;
    max-width: 100%;
    font-size: 2rem;
  }
  .mov i{
    height: 50px;
    max-width: 100%;
    font-size: 2rem;
  }
  .content h1 {
    color: #00c2ff;
    margin-bottom: 0;
  }
  footer {
    background-color: #000;
    color: #fff;
    padding: 1rem;  
  }
  
  footer ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
  }
  
  footer strong {
    color: #00c2ff;
  }
  
  footer p {
      margin: 0;
  }
  
  @media screen and (min-width: 768px) {
    .nav-btn {
      display: none;
    } 
    .nav-center {
      max-width: 1400px;
      margin: 0 auto;
      display: flex;
    }
    .nav-links {
      height: auto;
      display: flex;
      margin-right: 8rem;
      position: absolute;
      right: 0px;
  
    }
    .nav-links a {
      margin: 0 1rem;
      padding: 0.5rem 0;
    }
  }